body {
    background: linear-gradient(to left, #f8c8d0, #f1a7b5, #f28d9f); /* Pink gradient from left to right */
    margin: 0;
    font-family: Arial, sans-serif;
}

.photo-quote-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 0.75fr;
    height: 100vh;
    align-items: center;
}


.left-side{
    grid-column: 1;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: center;
    gap: 10px;
}

.photo{
    width: auto;
    height: auto;
    align-self: start;
}

.core-competencies{
    align-self: start;
}

.right-side{
    grid-column: 2;
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 15px;
}

.title-main{
    margin-top: 25%;
    text-align: center;
    font-size: x-large;
    font-weight: bold;
}

.footer{
    text-align: right;
}

.list-items{
    list-style: none;
}

@media (max-width: 1024px) {
    .photo-quote-grid {
        grid-template-columns: 1fr 1fr; 
        height: auto;
    }

    .left-side {
        grid-column: 1 / -1;
        display: grid;
        grid-template-rows: auto auto auto;
    }

    .photo {
        width: 100%; 
        height: auto;
    }

    .core-competencies {
        font-size: 1rem; 
    }

    .right-side {
        grid-column: 1 / -1; 
        text-align: center;
        margin-top: 2rem; 
    }

    .title-main {
        font-size: 1.5rem;
        margin-top: 15%;
    }

    .footer {
        text-align: end;
        margin-top: 2rem;
    }

    .list-items {
        font-size: 0.9rem; 
    }
}


@media (max-width: 480px) {
    .photo-quote-grid {
        grid-template-columns: 1fr; 
        height: auto;
    }

    .left-side {
        grid-column: 1 / -1; 
        display: grid;
        grid-template-rows: auto auto auto;
    }

    .photo {
        width: 80%; 
        margin: 0 auto; 
    }

    .core-competencies {
        font-size: 0.9rem; 
    }

    .right-side {
        grid-column: 1 / -1; 
        text-align: center;
    }

    .title-main {
        font-size: 1.2rem; 
        margin-top: 10%;
    }

    .footer {
        text-align: center;
    }

    .list-items {
        font-size: 0.8rem; 
    }
}

