body {
    background: linear-gradient(to left, #f8c8d0, #f1a7b5, #f28d9f); /* Pink gradient from left to right */
    color: #fff; 
    margin: 0;
    font-family: Arial, sans-serif;
}

.italics{
    font-style: italic;
    text-align: left;
}


.information{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.info{
    text-align: left;
}

.model > img{
    align-content: flex-start;
    opacity: 0.75;
    border-radius: 1%;
}

.list{
    list-style-type: none;
    text-align: center;
}