body {
    background: linear-gradient(to left, #f8c8d0, #f1a7b5, #f28d9f); /* Linear gradient background */
    margin: 0;
    font-family: Arial, sans-serif;
}

.feedbacks{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    background-color: #def7e0;
    margin-left: 15%;
    margin-right: 15%;
}

.footer{
    display: flex;
    margin-top: 20px;
    justify-content: right;
}

.custom-textarea {
    width: 300px; 
    height: 100px; 
}

@media (max-width: 768px) {
    .custom-textarea{
        width: auto;
    }

    p{
        font-size: small;
    }
}