body {
    background: linear-gradient(to left, #f8c8d0, #f1a7b5, #f28d9f); /* Pink gradient from left to right */
    color: #fff; 
    margin: 0;
    font-family: Arial, sans-serif;
}

.h1{
    font-family: Tangerine, cursive;
    font-weight: 400;
    font-style: normal;
    flex: 1;
}

.grid-idea {
    display: grid;
    grid-template-columns: 1fr 0.20fr 1fr; 
    height: 100vh;
    place-items: center; 
}


.text{
    grid-column: 3;
    justify-self: start;
    text-align: left;
    
}

.carousel-container {
    position: relative;
    width: 100%;
    height: 400px;  /* Height of the carousel */
    overflow: hidden; /* Hide images not in view */
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Carousel holding the images */
.carousel img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 2s cubic-bezier(0.25, 0.8, 0.25, 1);
    opacity: 1;

}

@media (max-width: 768px) {
    .grid-idea{
        display: flex;
        flex-wrap: wrap;
    }

    .picture{
        width: 100%;
        height: auto;
        justify-content: center;
        align-items: center;
    }

    .text{
        justify-content: center;
        align-items: center;
    }
}